@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

@keyframes chew {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.3);
  }
}

@keyframes chewFace {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.95);
  }
}

@keyframes bubbleUpPersist {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes bubbleUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes tail-wag {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(8deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  45% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(3deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modalFadeIn {
  animation: modalFadeIn 0.3s ease-out forwards;
}

.tail-wag {
  animation: tail-wag 2.2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  transform-origin: bottom center;
}
.chewing-face {
  animation: chewFace 0.3s ease-in-out infinite;
  transform-origin: top;
}

.chewing-lines {
  animation: chew 0.3s ease-in-out infinite;
  transform-origin: top;
}

.chat-bubble {
  animation: bubbleUp 2s ease-in-out infinite;
}

.chat-bubble-persist {
  animation: bubbleUpPersist 2s ease-in forwards;
}
